{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static 'table.css' %}" />
  <body>
  <div class="container">
    <h1>Membros</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Deletar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for x in mymembers %}
          <td><a href="update/{{ x.id }}" >{{ x.id }} <img src="{% static 'edit.png' %}" width="16px" /> </a></td>
          <td>{{ x.firstname }}</td>
          <td>{{ x.lastname }}</td>
          <td><a href="delete/{{ x.id }}" ><img src="{% static 'delete.png' %}" width="24px"/></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      <a href="add/"><button class="buttom">Inscrever</button></a>
    </p>
  </div>
</body>
</html>
